{% extends "skel.html" %}
{% block main %}
<article>
    {% if not g.accepts_vote %}
    {% include "components/voting_closed.html" %}
    {% else %}
    <section>
        <p>
            Sebelum dapat menggunakan hak pilih maupun melihat data statistik,
            <strong>Anda diwajibkan untuk melakukan verifikasi identitas.</strong>
            Perlu diperhatikan bahwa satu identitas
            hanya dapat memilih satu kali.
        </p>
    </section>
    {% endif %}
    <section>
        <form method="POST" id="verifyForm">
            <h3>Verifikasi Identitas</h3>
            <p>
                Isilah formulir berikut dengan benar.
                Nomor Induk Siswa Nasional (NISN) terdapat pada kartu pelajar Anda.
                NISN Anda juga dapat dicari
                <a href="https://referensi.data.kemdikbud.go.id/nisn/">di sini</a>.
            </p>
            <label>Kelas:</label>
            <select name="class" id="classDropdown" required>
                <option></option>
                {% for class in config['CLASSES'] %}
                <option value="{{ loop.index - 1 }}"
                    {{ 'selected=selected' if request.form.get('class') == (loop.index - 1)|string }}>
                    {{ class }}
                </option>
                {% endfor %}
            </select>
            <label id="nameInpLabel" style="display: none;">Nama:</label>
            <input id="nameInp" style="display: none;" type="text" minlength="4" name="name"
                value="{{ request.form.get('name') or '' }}" placeholder="Will Byers">
            <label>NISN:</label>
            <input id="inpNisn" pattern="^\d+$" type="text" name="nisn" value="{{ request.form.get('nisn') or '' }}"
                placeholder="0030856xxx" required>
            <small class="danger-text" style="display: none;" id="nisnMessage">
                NISN tidak terdaftar dalam database. Mohon periksa dan coba kembali.
                Sudah benar? Tekan tombol berikut untuk
                <button type="button" id="btnBypass">tetap masuk</button>.
            </small>
            <label>Nama Ibu Kandung:</label>
            <input type="text" minlength="3" name="mother_name" value="{{ request.form.get('mother_name') or '' }}"
                placeholder="Joyce Byers" required>
            <p>
                <small class="danger-text" style="display: none;" id="unverifiedDisclaimer">
                    Anda akan masuk dengan data yang Anda berikan sebagai
                    pemilih yang tidak terverifikasi. Jika Anda ingin mencoba melakukan
                    verifikasi kembali, tekan tombol berikut untuk
                    <button type="button" id="btnReload">mengulang</button>.
                </small>
            </p>
            <input type="submit" id="btnSubmit2" style="display: none;"></input>
            <button type="button" id="btnSubmit">Kirim</button>
        </form>
    </section>
</article>
<script>
    $(document).ready(function () {
        $('#classDropdown').select2({
            placeholder: "Pilih kelas Anda",
        });
    });
    $('input').keypress(function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            $('#btnSubmit').click();
        }
    });
    $('#btnSubmit').click(function () {
        $.getJSON('{{ url_for("api.check_student_id") }}?id=' + escape($('#inpNisn').val()), (data) => {
            if (!data.ok && !$('#unverifiedDisclaimer').is(':visible')) {
                $('#nisnMessage').show();
                $('#inpNisn').focus();
            } else {
                $('#btnSubmit2').click();
            }
        });
    });
    $('#btnBypass').click(function () {
        const confirmationMessage = 'Lanjutkan hanya jika NISN Anda valid ' +
            'namun tidak terdaftar pada sistem pemilihan. ' +
            'Dengan melanjutkan, Anda setuju bahwa suara Anda akan diverifikasi ' +
            'secara manual dan tidak akan dihitung jika gagal diverifikasi. ' +
            'Untuk melanjutkan, silahkan ketik "saya yakin".';
        if (prompt(confirmationMessage).match(/saya yakin/i)) {
            $('#nisnMessage').hide();
            $('#nameInpLabel').show();
            $('#nameInp').prop('required', true);
            $('#nameInp').show();
            $('#nameInp').focus();
            $('#unverifiedDisclaimer').show();
            $('#inpNisn').prop('readonly', true);
        }
    });
    $('#btnReload').click(function () {
        window.location.reload();
    })
</script>
{% endblock %}