{% extends "skel.html" %}

{% block head_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="{{ url_for('static', filename='chartpalette.js') }}"></script>
{% endblock %}
{% set not_voted = config['MAX_VOTES'] - data['verified']['total_votes'] %}
{% block main %}
<article>
    {% if not g.accepts_vote %}
    {% include "components/voting_closed.html" %}
    {% endif %}
    <h3>Data Statistik</h3>
    <section>
        {% if data['verified']['total_votes'] > 0 %}
        <div class="votes-chart">
            <canvas id="votesChart" width="50px" height="50px"></canvas>
        </div>
        {% else %}
        <p>Belum ada data terverifikasi untuk ditampilkan.</p>
        {% endif %}
    </section>
    <section>
        <div style="text-align: center">
            <table>
                <tr>
                    <th>Kandidat</th>
                    <th>ST</th>
                    <th>STT</th>
                    <th>T</th>
                </tr>
                {% for candidate in config['CANDIDATES'] %}
                <tr>
                    <td>Suara {{ candidate }}</td>
                    <td>{{ data['verified']['per_candidate_votes'][loop.index-1] }}</td>
                    <td>{{ data['unverified']['per_candidate_votes'][loop.index-1] }}</td>
                    <td>{{ data['unverified']['per_candidate_votes'][loop.index-1] +  data['verified']['per_candidate_votes'][loop.index-1] }}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>Jumlah suara</td>
                    <td>{{ data['verified']['total_votes'] }}</td>
                    <td>{{ data['unverified']['total_votes'] }}</td>
                    <td>{{ data['unverified']['total_votes'] + data['verified']['total_votes'] }}</td>
                </tr>
                <tr>
                    <td>Belum memilih</td>
                    <td colspan="3">{{ not_voted }}</td>
                </tr>
            </table>
            <p><small>ST: suara terverifikasi; STT: suara tidak terverifikasi; T: total.</small></p>
        </div>
    </section>
</article>

<script>
    var sdata = JSON.parse(`{{ data | tojson }}`);

    var ctx = document.getElementById('votesChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: sdata.verified.per_candidate_votes.concat(parseInt('{{ not_voted }}')),
            }],
            labels: [
                // {% for c in config['CANDIDATES'] %}
                '{{ c }}',
                // {% endfor %}
                'Belum memilih',
            ],
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Data Statistik Pemilih Terverifikasi'
            }
        }
    })
    chartColors("cool");
</script>
{% endblock %}